@import "../__common__/color";

$yq-tag-default-bg: #fafafa;
$yq-tag-default-color: rgba(0, 0, 0, 0.88);
$yq-tag-default-color-hover: rgba(0, 0, 0, 0.95);
$yq-color-border: #d9d9d9;
$yq-btn-font-lg: 20px;
$yq-btn-font: 16px;
$yq-btn-font-sm: 12px;

.yq-tag {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  display: inline-block;
  background-color: $yq-tag-default-bg;
  color: $yq-tag-default-color;
  border: 1px solid $yq-color-border;
  font-size: $yq-btn-font-sm;
  border-radius: 4px;
  padding: 0 7px;
  line-height: 1.8;
  box-sizing: border-box;
  transition: all 0.2s;

  &-none-bordered,
  &-checkable {
    border: none;
    padding: 1px 8px;
  }

  a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: inherit;
  }

  &-checkable {
    cursor: pointer;
    background-color: #fff;
    &:hover {
      color: $yq-blue-5;
      background-color: $yq-color-fill-secondary;
    }
  }

  &-checked {
    background-color: $yq-blue-6;
    color: #fff;
    &:hover {
      background-color: $yq-blue-5;
      color: #fff;
    }
  }

  &-icon {
    margin-right: 4px;
  }

  &-closeIcon {
    margin-left: 4px;
    color: $yq-color-text-tertiary;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      color: $yq-tag-default-color-hover;
    }
  }
}

//遍历颜色列表
@each $key, $color in $colors {
  .yq-tag-#{$color} {
    color: map-get($colorList, #{$color}-7);
    background-color: map-get($colorList, #{$color}-1);
    border-color: map-get($colorList, #{$color}-3);
  }
}
