$yq-blue-1: #e6f4ff;
$yq-blue-2: #bae0ff;
$yq-blue-3: #91caff;
$yq-blue-4: #69b1ff;
$yq-blue-5: #4096ff;
$yq-blue-6: #1677ff;
$yq-blue-7: #0958d9;
$yq-blue-8: #003eb3;
$yq-blue-9: #002c8c;
$yq-blue-10: #001d66;
$yq-purple-1: #f9f0ff;
$yq-purple-2: #efdbff;
$yq-purple-3: #d3adf7;
$yq-purple-4: #b37feb;
$yq-purple-5: #9254de;
$yq-purple-6: #722ed1;
$yq-purple-7: #531dab;
$yq-purple-8: #391085;
$yq-purple-9: #22075e;
$yq-purple-10: #120338;
$yq-cyan-1: #e6fffb;
$yq-cyan-2: #b5f5ec;
$yq-cyan-3: #87e8de;
$yq-cyan-4: #5cdbd3;
$yq-cyan-5: #36cfc9;
$yq-cyan-6: #13c2c2;
$yq-cyan-7: #08979c;
$yq-cyan-8: #006d75;
$yq-cyan-9: #00474f;
$yq-cyan-10: #002329;
$yq-green-1: #f6ffed;
$yq-green-2: #d9f7be;
$yq-green-3: #b7eb8f;
$yq-green-4: #95de64;
$yq-green-5: #73d13d;
$yq-green-6: #52c41a;
$yq-green-7: #389e0d;
$yq-green-8: #237804;
$yq-green-9: #135200;
$yq-green-10: #092b00;
$yq-magenta-1: #fff0f6;
$yq-magenta-2: #ffd6e7;
$yq-magenta-3: #ffadd2;
$yq-magenta-4: #ff85c0;
$yq-magenta-5: #f759ab;
$yq-magenta-6: #eb2f96;
$yq-magenta-7: #c41d7f;
$yq-magenta-8: #9e1068;
$yq-magenta-9: #780650;
$yq-magenta-10: #520339;
$yq-pink-1: #fff0f6;
$yq-pink-2: #ffd6e7;
$yq-pink-3: #ffadd2;
$yq-pink-4: #ff85c0;
$yq-pink-5: #f759ab;
$yq-pink-6: #eb2f96;
$yq-pink-7: #c41d7f;
$yq-pink-8: #9e1068;
$yq-pink-9: #780650;
$yq-pink-10: #520339;
$yq-red-1: #fff1f0;
$yq-red-2: #ffccc7;
$yq-red-3: #ffa39e;
$yq-red-4: #ff7875;
$yq-red-5: #ff4d4f;
$yq-red-6: #f5222d;
$yq-red-7: #cf1322;
$yq-red-8: #a8071a;
$yq-red-9: #820014;
$yq-red-10: #5c0011;
$yq-orange-1: #fff7e6;
$yq-orange-2: #ffe7ba;
$yq-orange-3: #ffd591;
$yq-orange-4: #ffc069;
$yq-orange-5: #ffa940;
$yq-orange-6: #fa8c16;
$yq-orange-7: #d46b08;
$yq-orange-8: #ad4e00;
$yq-orange-9: #873800;
$yq-orange-10: #612500;
$yq-yellow-1: #feffe6;
$yq-yellow-2: #ffffb8;
$yq-yellow-3: #fffb8f;
$yq-yellow-4: #fff566;
$yq-yellow-5: #ffec3d;
$yq-yellow-6: #fadb14;
$yq-yellow-7: #d4b106;
$yq-yellow-8: #ad8b00;
$yq-yellow-9: #876800;
$yq-yellow-10: #614700;
$yq-volcano-1: #fff2e8;
$yq-volcano-2: #ffd8bf;
$yq-volcano-3: #ffbb96;
$yq-volcano-4: #ff9c6e;
$yq-volcano-5: #ff7a45;
$yq-volcano-6: #fa541c;
$yq-volcano-7: #d4380d;
$yq-volcano-8: #ad2102;
$yq-volcano-9: #871400;
$yq-volcano-10: #610b00;
$yq-geekblue-1: #f0f5ff;
$yq-geekblue-2: #d6e4ff;
$yq-geekblue-3: #adc6ff;
$yq-geekblue-4: #85a5ff;
$yq-geekblue-5: #597ef7;
$yq-geekblue-6: #2f54eb;
$yq-geekblue-7: #1d39c4;
$yq-geekblue-8: #10239e;
$yq-geekblue-9: #061178;
$yq-geekblue-10: #030852;
$yq-gold-1: #fffbe6;
$yq-gold-2: #fff1b8;
$yq-gold-3: #ffe58f;
$yq-gold-4: #ffd666;
$yq-gold-5: #ffc53d;
$yq-gold-6: #faad14;
$yq-gold-7: #d48806;
$yq-gold-8: #ad6800;
$yq-gold-9: #874d00;
$yq-gold-10: #613400;
$yq-lime-1: #fcffe6;
$yq-lime-2: #f4ffb8;
$yq-lime-3: #eaff8f;
$yq-lime-4: #d3f261;
$yq-lime-5: #bae637;
$yq-lime-6: #a0d911;
$yq-lime-7: #7cb305;
$yq-lime-8: #5b8c00;
$yq-lime-9: #3f6600;
$yq-lime-10: #254000;
