@import "../__common__/base";
@import "../__common__/color";

.yq-tabs {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  // 导航栏
  &-nav {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    &::after {
      z-index: 0;
      content: "";
      position: absolute;
      background-color: #f0f0f0;
    }

    &-extra-left {
      margin-right: $yq-margin-sm;
    }

    &-extra-right {
      margin-left: $yq-margin-sm;
    }

    &-scroll {
      z-index: 1;
      flex: 1;
      position: relative;
      overflow: hidden;
      &::before,
      &::after {
        z-index: -1;
        content: "";
        position: absolute;
        opacity: 0;
        transition: all 0.2s;
        user-select: none;
        cursor: pointer;
      }
    }

    &-list {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      overflow: scroll;
      &::-webkit-scrollbar {
        height: 0;
        width: 0;
      }

      &_inner {
        position: relative;
        display: flex;
      }
    }

    &-editable {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #f0f0f0;
      transition: all 0.2s;
      font-size: $yq-font-size-sm;

      &:hover {
        color: $yq-blue-6;
      }
    }
  }

  // 导航栏tab
  &-tab {
    cursor: pointer;
    transition: all 0.2s;
    font-size: $yq-font-size;
    white-space: nowrap;

    &:hover {
      color: $yq-blue-6;
    }

    &-card {
      background-color: $yq-color-fill-quaternary;
      border: 1px solid #f0f0f0;
      padding: $yq-padding-xs $yq-padding;
    }

    &-card.yq-tabs-tab-active {
      background-color: transparent;
    }

    &-card.yq-tabs-tab-small {
      padding: 6px $yq-padding;
    }

    &-card.yq-tabs-tab-large {
      padding: $yq-padding-xs $yq-padding 6px;
      font-size: $yq-font-size-lg;
    }
  }

  // 选中
  &-tab-active {
    color: $yq-blue-6;
  }

  // 禁用
  &-tab-disable {
    cursor: no-drop;
    color: $yq-color-text-quaternary;
    &:hover {
      color: $yq-color-text-quaternary;
    }
  }

  // 图标
  &-icon {
    margin-right: $yq-margin-sm;
  }

  &-closable {
    margin-left: $yq-margin-sm;
    font-size: $yq-font-size-sm;
    color: $yq-color-text-tertiary;
    transition: all 0.2s;

    &:hover {
      color: #000;
    }
  }

  // 指示条
  &-line {
    background-color: $yq-blue-6;
    position: absolute;
    transition: all 0.2s ease-in-out;
  }

  // 展示区
  &-tabpane {
    font-size: $yq-font-size;
    display: none;
  }
  // 展示区选中
  &-tabpane-active {
    display: block;
  }
}

.yq-tabs {
  // 位置
  &-top {
    flex-direction: column;
    .yq-tabs-nav {
      margin-bottom: 16px;

      &::after {
        bottom: 0px;
      }

      &-editable {
        border-radius: 8px 8px 0 0;
      }
    }
    .yq-tabs-line {
      bottom: 0;
      height: 2px;
    }

    .yq-tabs-tab-card {
      border-radius: 8px 8px 0 0;
    }

    .yq-tabs-tab-card.yq-tabs-tab-active {
      border-bottom-color: #ffffff;
    }
  }

  &-bottom {
    flex-direction: column-reverse;
    .yq-tabs-nav {
      margin-top: 16px;

      &::after {
        top: 0px;
      }

      &-editable {
        border-radius: 0 0 8px 8px;
      }
    }
    .yq-tabs-line {
      top: 0;
      height: 2px;
    }

    .yq-tabs-tab-card {
      border-radius: 0 0 8px 8px;
    }

    .yq-tabs-tab-card.yq-tabs-tab-active {
      border-top-color: #ffffff;
    }
  }

  &-top,
  &-bottom {
    .yq-tabs {
      &-nav {
        &-scroll {
          &::before {
            left: 0;
            box-shadow: $yq-box-shadow-tabs-overflow-left;
          }

          &::after {
            top: 0;
            right: 0;
            box-shadow: $yq-box-shadow-tabs-overflow-right;
          }
        }

        &::after {
          left: 0;
          width: 100%;
          height: 1px;
        }

        &-center {
          justify-content: center;
        }

        &-editable {
          width: 40px;
          padding: 12px 0;
          margin-left: 2px;
        }
      }

      // 滚动开头阴影
      &-scroll-start {
        &::before {
          width: 20px;
          height: 100%;
          opacity: 1;
        }
      }
      // 滚动结尾阴影
      &-scroll-end {
        &::after {
          width: 20px;
          height: 100%;
          opacity: 1;
        }
      }

      &-tab {
        &-line {
          padding: $yq-padding-sm 0;
        }

        &-line + .yq-tabs-tab-line {
          margin-left: 32px;
        }

        &-line.yq-tabs-tab-small {
          padding: $yq-padding-xs 0;
        }

        &-line.yq-tabs-tab-large {
          padding: $yq-padding 0;
          font-size: $yq-font-size-lg;
        }

        &-card + .yq-tabs-tab-card {
          margin-left: 2px;
        }
      }
    }
  }

  &-left,
  &-right {
    .yq-tabs {
      &-nav {
        width: auto;
        flex-direction: column;

        &-editable {
          width: 100%;
          height: 40px;
          margin-top: 2px;
        }

        &::after {
          top: 0;
          width: 1px;
          height: 100%;
        }

        &-center {
          align-items: center;
        }

        &-extra-left {
          margin-right: 0;
          margin-bottom: $yq-margin-sm;
        }

        &-extra-right {
          margin-left: 0;
          margin-top: $yq-margin-sm;
        }

        &-list_inner {
          flex-direction: column;
        }

        &-scroll {
          &::before {
            top: 0;
            box-shadow: $yq-box-shadow-tabs-overflow-top;
          }

          &::after {
            bottom: 0;
            box-shadow: $yq-box-shadow-tabs-overflow-bottom;
          }
        }
      }

      // 滚动开头阴影
      &-scroll-start {
        &::before {
          height: 20px;
          width: 100%;
          opacity: 1;
        }
      }
      // 滚动结尾阴影
      &-scroll-end {
        &::after {
          height: 20px;
          width: 100%;
          opacity: 1;
        }
      }

      &-tab {
        &-line {
          padding: $yq-padding-xs $yq-padding-lg;
        }

        &-line.yq-tabs-tab-small {
          padding: $yq-padding-xs $yq-padding-lg;
        }

        &-line.yq-tabs-tab-large {
          padding: $yq-padding-xs $yq-padding-lg;
          font-size: $yq-font-size-lg;
        }

        &-card + .yq-tabs-tab-card {
          margin-top: 2px;
        }
      }
    }
  }

  &-left {
    flex-direction: row;
    .yq-tabs-nav {
      margin-right: 16px;
      &::after {
        right: 0px;
      }
      &-editable {
        border-radius: 8px 0 0 8px;
        border-right: none;
      }
    }
    .yq-tabs-line {
      width: 2px;
      right: 0;
    }
    .yq-tabs-tab-card {
      border-radius: 8px 0 0 8px;
    }

    .yq-tabs-tab-card.yq-tabs-tab-active {
      border-right-color: #ffffff;
    }
  }

  &-right {
    flex-direction: row-reverse;
    .yq-tabs-nav {
      margin-left: 16px;
      &::after {
        left: 0px;
      }
      &-editable {
        border-radius: 0 8px 8px 0;
        border-left: none;
      }
    }
    .yq-tabs-line {
      width: 2px;
      left: 0;
    }
    .yq-tabs-tab-card {
      border-radius: 0 8px 8px 0;
    }

    .yq-tabs-tab-card.yq-tabs-tab-active {
      border-left-color: #ffffff;
    }
  }
}
